/* Entire Page */

* {
  box-sizing: border-box;
}

body{
  background-color: #fff;
}

.subtitle-text {
  font-size: 18px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
}

.subtitle{
  padding-top: 70px;
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900; 
}

section{
  min-height:900px; 
} 

.horizontal{
  width: 150px;
  border-top: 4px double #FC053A;
}

.description{
  margin-bottom: 50px;
  margin-top: 30px;
}

/* Navbar */

.navbar {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  transition: box-shadow 1s, background-color 1s;
  /*z-index: 10;*/
}

.page-scroll {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.navbar-inverse{
  height: 80px;
}

#bs-example-navbar-collapse-1{
  margin-top: 18px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color:#9d9d9d;
}

.highlight{
  background-color: #fff; 
  border-radius: 7px; 
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #fff;
  color: red !important;
  border-radius: 5px;
}

.navbar-brand-name{
  display: inline-block;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #fff !important;
}

.navbar-collapse {
  padding-right: 24px;
}

.transparent{
  background-color: transparent; 
  border-color: transparent;
}

.black-navbar {
  background-color: #000 !important;
  border-color: #000 !important;
}

/* Navbar Media Queries */

@media (max-width: 1025px){
  .navbar-right {
    margin-right: -20px;
  }
}

@media (max-width: 991px){
  .navbar-right {
    margin-right: -70px;
  }
}

@media (max-width: 870px){
  .navbar-right {
    margin-right: -55px;
  }
}

@media (max-width: 840px){
  .navbar-right {
    margin-right: -35px;
  }
}

@media (max-width: 800px){
  .navbar-right {
    margin-right: -23px;
  }
}

@media (max-width: 767px ){
  #bs-example-navbar-collapse-1 {
    background-color: rgb(0, 0, 0);
  }
}

@media (max-width: 600px){
  .navbar-brand-name {
    font-size: 18px;
  }
}

@media (max-width: 480px){
  .navbar-brand-name {
    font-size: 17px;
  }
}

/* Main Section */

section.main-section{
  /*width: 100%;*/
  min-height:700px;
  background-image: url('../images/main_photo.jpeg');
  background-size: 1366px 929px;
  /*top: 700px;*/
  background-color: #fff;
  position: relative;
  background-repeat: no-repeat;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-top: 15px;
  border: solid #000;
  background-color: transparent;
}

.btn-circle.btn-lg:hover {
  border: solid #ABAEAD;
  background-color: transparent;
}
 
.glyphicon-menu-down {
  right: 3px;
  top: 2px;
  color: #000;
}

.shadedDownArrow{
  color: #ABAEAD;
}
 
.brand-name{
  text-align: center;
  margin-top: 50px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}

.main-logo{
  text-align: center;
  margin-top: 150px;
}

/* Main Section Media Queries */

@media (max-width: 800px){
  .navbar-brand-name{
    font-size: 20px;
  }
}

@media (max-width: 767px){
  .brand-name{
    font-size: 50px;
    margin-top: 0px;
  }
  .navbar-brand-name{
    font-size: 18px;
  }
  section.main-section{
    min-height: 600px;
  }
  .main-logo {
    margin-top: 320px;
  }
}

@media (max-width: 700px){
  .brand-name{
    font-size: 48px;
    margin-top:0px;
  }
}

@media (max-width: 690px ){
  #bs-example-navbar-collapse-1 {
    background-color: rgb(0, 0, 0);
  }
}

@media (max-width: 500px){
  .main-logo{
    margin-top: 370px;
  }
  #main-logo{
    height: 100px;
  }
  .navbar-brand-name{
    font-size: 17px;
  }
}

@media (max-width: 488px){
  #main-logo{
    visibility: hidden;
  }
  .btn .btn-default .btn-circle .btn-lg{
    margin-top: 80px;
  }
}

@media (max-width: 480px){
  .brand-name{
    font-size: 30px;
  }
}
/* About */

section.about-section{ 
  /*top: 700px;*/
  min-height: 700px;
  position: relative;
  background-color: #fff;
}

.about-description {
  margin-top: 100px;
}

.description-text {
  font-size: 18px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.sub-section-icon {
  font-size: 4em;
  text-align: center;
}

.sub-section-title{
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

/* About Section Media Queries */

@media(max-width: 992px){
  #experts-description{
    margin-bottom: 50px;
  }
}

/* Our Team */

.our-team-section{
  /*top:700px;*/
  background-color: #f5f5f5;
  position: relative;
}

/*.description{
  margin-top: 125px;
}*/

.name{
  margin-top: 10px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
}

.title{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.mini-social-media{
  font-size: 1.5em;
  letter-spacing: 5px;
  text-decoration: none;
}

.mini-social-media:link, .mini-social-media:hover, .mini-social-media:active, .mini-social-media:visited {
  text-decoration: none;
}

.horizontal-short{
  width: 90px;
  border-top: 4px double #FC053A;
}

.last-team-member{
  margin-bottom: 40px;
}

.chris-description {
  top:40px;
  margin-bottom: 0px;
}

.chloe-description {
  top:50px;
}

.vivian-description {
  top:80px;
}

/* Our Team Section Media Queries */

@media (max-width: 992px){
  .chris-description{
    margin-bottom: 40px;
  }
  .chloe-description{
    margin-bottom: 40px;
  }
  .robert-description{
    margin-top: 40px;
  }
  .daniel-description{
    margin-top: 40px;
  }
  .vivian-description {
    top: 0px;
  }
}

/* What We Do */

.what-we-do-section{
  /*top: 700px;*/
  background-color: #fff;
  position: relative;
  min-height: 700px;
}

/* Quote */

section.quote-section{
  /*top: 700px;*/
  background-color: #fff;
  position: relative;
  min-height: 700px;
}

.contact-form {
  float:center;
}

form label{
  color: red;
  display: none;
  position: relative;
  padding-left: 15px;
  transition: display 5s;
}

form label.show{
  display: inline-block;
}

form label.name-label{
  height: 12px;
  top: 28px;  
}

form label.institution-label{
  top: 16px;
  height: 0px;
}

form label.email-label{
  top: 17px;
  height: 0px;
}

form label.phone-number-label{
  height: 0px;
  top: 13px;
}

form label.project-details-label{
  height: 0px;
  top: 17px;
}

form textarea#project-details-textarea{
  padding-top: 60px;
  padding-left: 15px;
}
     
form input.space {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;

  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
}
 
form input.space:focus {
  outline: none;  
}

#phone{
  padding-bottom: 20px;
}

form textarea{
  border:none;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  height: 500px;
  resize: none;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
}

form textarea:focus {
  outline: none;  
}

.btn-for-sending {
  outline: none; 
  padding: 12px 18px;
  color: #000;
  border: 1px solid #000;
  background: transparent;
  border-radius:0;
  margin-bottom: 100px;


  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  transition: background 1s, color 1s, border 1s;
}

.btn.btn-for-sending:hover{
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

.btn-for-sending:focus{
  outline: none;
}

/* Contact */

section.contact-section{
  background-image: url('../images/brandenburg_gate.jpg');
  min-height:700px;
  background-size: 1366px 1004px;
  /*top: 700px;*/
  background-color: #fff;
  position: relative;
  background-repeat: no-repeat;
}

.contact-information{
  top: 50px;
}

.contact-text{
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase; 
  color: #fff;
}

.corresponding-text{
  text-align: center;
  color: #000;
  font-size: 22px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
}

.contact-description {
  color: #fff;
}

a {
  color: #000;
}

a.contact-anchor{
  color: #fff;
}

.social-media{
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 20px;
  text-decoration: none;
}

.social-media:link, .social-media:hover, .social-media:active, .social-media:visited {
  text-decoration: none;
}

.social-icons{
  margin-top: 55px;
  text-align: center;
}

a:hover {
  color: #A9A9A9;
  text-decoration: none;
}

.copyright{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 150px;
  font-size: 16px;
}

.contact-title{
  color: #fff;
}

/* Contact Section Media Queries */

@media(max-width: 991px){
  .social-icons {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}