/* Entire Page */

body{
  background-color: #fff;
}

.subtitle-text {
  font-size: 18px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
}

.subtitle{
  padding-top: 70px;
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900; 
}

section{
  min-height:900px; 
} 

.horizontal{
  width: 150px;
  border-top: 4px double #FC053A;
}

/* Navbar */

.navbar {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  transition: box-shadow 1s, background-color 1s;
}

.page-scroll {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.navbar-inverse{
  height: 80px;
}

#bs-example-navbar-collapse-1{
  margin-top: 18px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color:#9d9d9d;
}

.navbar-inverse .navbar-nav>li>a:visited{
  color:#ef4035;
}

/* About */

/* Contact */

.contact-form {
  float:center;
}

form input.text {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  padding-top: 20px;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
}

form input.text:focus {
  outline: none;  
}

#phone{
  padding-bottom: 20px;
}

form textarea{
  border:none;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  height: 500px;
  resize: none;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
}

form textarea:focus {
  outline: none;  
}

.btn-for-sending {
  outline: none; 
  padding: 12px 18px;
  color: #000;
  border: 1px solid #000;
  background: transparent;
  border-radius:0;

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  transition: background 1s, color 1s, border 1s;
}

.btn:hover{
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

.btn-for-sending:focus{
  outline: none;
}